# Ex1 - Getting and Knowing your Data

In [1]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\raghu\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\raghu\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\raghu\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\raghu\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\raghu\anaconda3\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\raghu\anaconda3\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\raghu\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raghu\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raghu\anaconda3\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\raghu\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.



### Step 1. Import the necessary libraries

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

### Step 2. Import the dataset

In [2]:
pd.read_csv("C:/Users/raghu/Downloads/csv_file/pandas_data.csv")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called a.

In [3]:
a = pd.read_csv("C:/Users/raghu/Downloads/csv_file/pandas_data.csv")
a

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
a = pd.read_csv("C:/Users/raghu/Downloads/csv_file/pandas_data.csv",index_col = "order_id")
a

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [5]:
a.head(10)

,quantity,item_name,choice_description,item_price
order_id,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,Izze,[Clementine],$3.39
1,1,Nantucket Nectar,[Apple],$3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
3,1,Side of Chips,NaN,$1.69
4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
a.shape[0]    # number of columns

4622

In [7]:
a.shape[0,1]

TypeError: tuple indices must be integers or slices, not tuple

In [ ]:
# a.dtypes

# a.tail(15)

# a.size

### Step 6. What is the number of columns in the dataset?

In [8]:
a.shape[1]

4

### Step 7. Print the name of all the columns.

In [9]:
a.columns

Index(['quantity', 'item_name', 'choice_description', 'item_price'], dtype='object')

### Step 8. How is the dataset indexed?

In [10]:
a.index

a.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4622 entries, 1 to 1834
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   quantity            4622 non-null   int64
 1   item_name           4622 non-null   object
 2   choice_description  3376 non-null   object
 3   item_price          4622 non-null   object
dtypes: int64(1), object(3)
memory usage: 180.5+ KB

### Step 9. Which was the most-ordered item?

In [11]:
b = a.groupby("item_name").agg({"quantity":"sum"})
c = b.sort_values("quantity",ascending = False)
c.head(1)

              quantity
item_name
Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [12]:
b = a.groupby("item_name").agg({"quantity":"sum"})
c = b.sort_values("quantity")
c

                                       quantity
item_name
Carnitas Salad                                1
Veggie Crispy Tacos                           1
Chips and Mild Fresh Tomato Salsa             1
Crispy Tacos                                  2
Salad                                         2
Bowl                                          4
Steak Salad                                   4
Veggie Salad                                  6
Carnitas Salad Bowl                           6
Burrito                                       6
Carnitas Crispy Tacos                         8
Veggie Soft Tacos                             8
Chicken Salad                                 9
Barbacoa Salad Bowl                          10
Barbacoa Crispy Tacos                        12
Veggie Salad Bowl                            18
Chips and Roasted Chili-Corn Salsa           18
Izze                                         20
Chips and Roasted Chili Corn Salsa           23
Barbacoa Soft Tacos                          25
Chips and Tomatillo-Red Chili Salsa          25
Nantucket Nectar                             29
Steak Salad Bowl                             31
Chips and Tomatillo-Green Chili Salsa        33
Steak Crispy Tacos                           36
Carnitas Soft Tacos                          40
Chips and Tomatillo Green Chili Salsa        45
Chicken Crispy Tacos                         50
Chips and Tomatillo Red Chili Salsa          50
6 Pack Soft Drink                            55
Steak Soft Tacos                             56
Carnitas Burrito                             60
Barbacoa Bowl                                66
Carnitas Bowl                                71
Veggie Bowl                                  87
Barbacoa Burrito                             91
Veggie Burrito                               97
Side of Chips                               110
Chicken Soft Tacos                          120
Chicken Salad Bowl                          123
Canned Soda                                 126
Chips and Fresh Tomato Salsa                130
Bottled Water                               211
Steak Bowl                                  221
Chips                                       230
Canned Soft Drink                           351
Steak Burrito                               386
Chips and Guacamole                         506
Chicken Burrito                             591
Chicken Bowl                                761

### Step 11. What was the most ordered item in the choice_description column?

In [13]:
b = a.groupby("choice_description").agg({"quantity":"sum"})
c = b.sort_values("quantity",ascending=False)
c.head(1)

                    quantity
choice_description
[Diet Coke]              159

### Step 12. How many items were orderd in total?

In [14]:
b = a.groupby("order_id").agg({"quantity":"sum"})
c = b.sort_values("quantity",ascending=False)
c.head(1)

          quantity
order_id
1443            35

In [20]:
sns.barplot(x="order_id",y="quantity")

ValueError: Could not interpret value `order_id` for `x`. Value is a string, but `data` was not passed.

### Step 13. Turn the item price into a float

In [15]:
a.item_price.str.slice(1).astype('float')

order_id
1        2.39
1        3.39
1        3.39
1        2.39
2       16.98
        ...
1833    11.75
1833    11.75
1834    11.25
1834     8.75
1834     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

In [ ]:
a.item_price.dtype
a

### Step 14. How much was the revenue for the period in the dataset?

revenue = (a['quantity'] * a['item_price']).sum()
revenue.mean()

### Step 15. How many orders were made in the period?

In [ ]:
a.order_id.value_counts()

### Step 16. What is the average revenue amount per order?

In [ ]:
revenue = a

### Step 17. How many different items are sold?

In [ ]:
a.items_name.anunique()