# Apple Stock

### Introduction:

We are going to use Apple's stock price.


### Step 1. Import the necessary libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2. Import the dataset

In [2]:
pd.read_csv("C:/Users/raghu/Downloads/csv_file/appl_1980_2014 (1).csv")

            Date   Open   High    Low  Close     Volume  Adj Close
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

### Step 3. Assign it to a variable apple

In [3]:
apple=pd.read_csv("C:/Users/raghu/Downloads/csv_file/appl_1980_2014 (1).csv")
apple

            Date   Open   High    Low  Close     Volume  Adj Close
0     2014-07-08  96.27  96.80  93.92  95.35   65130000      95.35
1     2014-07-07  94.14  95.99  94.10  95.97   56305400      95.97
2     2014-07-03  93.67  94.10  93.20  94.03   22891800      94.03
3     2014-07-02  93.87  94.06  93.09  93.48   28420900      93.48
4     2014-07-01  93.52  94.07  93.13  93.52   38170200      93.52
...          ...    ...    ...    ...    ...        ...        ...
8460  1980-12-18  26.63  26.75  26.63  26.63   18362400       0.41
8461  1980-12-17  25.87  26.00  25.87  25.87   21610400       0.40
8462  1980-12-16  25.37  25.37  25.25  25.25   26432000       0.39
8463  1980-12-15  27.38  27.38  27.25  27.25   43971200       0.42
8464  1980-12-12  28.75  28.87  28.75  28.75  117258400       0.45

[8465 rows x 7 columns]

### Step 4.  Check out the type of the columns

In [4]:
apple.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Volume         int64
Adj Close    float64
dtype: object

### Step 5. Transform the Date column as a datetime type

In [5]:
apple.Date=pd.to_datetime
apple

,Date,Open,High,Low,Close,Volume,Adj Close
0,<function to_datetime at 0x00000220A1E73B00>,96.27,96.80,93.92,95.35,65130000,95.35
1,<function to_datetime at 0x00000220A1E73B00>,94.14,95.99,94.10,95.97,56305400,95.97
2,<function to_datetime at 0x00000220A1E73B00>,93.67,94.10,93.20,94.03,22891800,94.03
3,<function to_datetime at 0x00000220A1E73B00>,93.87,94.06,93.09,93.48,28420900,93.48
4,<function to_datetime at 0x00000220A1E73B00>,93.52,94.07,93.13,93.52,38170200,93.52
...,...,...,...,...,...,...,...
8460,<function to_datetime at 0x00000220A1E73B00>,26.63,26.75,26.63,26.63,18362400,0.41
8461,<function to_datetime at 0x00000220A1E73B00>,25.87,26.00,25.87,25.87,21610400,0.40
8462,<function to_datetime at 0x00000220A1E73B00>,25.37,25.37,25.25,25.25,26432000,0.39
8463,<function to_datetime at 0x00000220A1E73B00>,27.38,27.38,27.25,27.25,43971200,0.42
8464,<function to_datetime at 0x00000220A1E73B00>,28.75,28.87,28.75,28.75,117258400,0.45

### Step 6.  Set the date as the index

In [6]:
apple = apple.set_index('Date')
apple

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
<function to_datetime at 0x00000220A1E73B00>,96.27,96.80,93.92,95.35,65130000,95.35
<function to_datetime at 0x00000220A1E73B00>,94.14,95.99,94.10,95.97,56305400,95.97
<function to_datetime at 0x00000220A1E73B00>,93.67,94.10,93.20,94.03,22891800,94.03
<function to_datetime at 0x00000220A1E73B00>,93.87,94.06,93.09,93.48,28420900,93.48
<function to_datetime at 0x00000220A1E73B00>,93.52,94.07,93.13,93.52,38170200,93.52
...,...,...,...,...,...,...
<function to_datetime at 0x00000220A1E73B00>,26.63,26.75,26.63,26.63,18362400,0.41
<function to_datetime at 0x00000220A1E73B00>,25.87,26.00,25.87,25.87,21610400,0.40
<function to_datetime at 0x00000220A1E73B00>,25.37,25.37,25.25,25.25,26432000,0.39
<function to_datetime at 0x00000220A1E73B00>,27.38,27.38,27.25,27.25,43971200,0.42
<function to_datetime at 0x00000220A1E73B00>,28.75,28.87,28.75,28.75,117258400,0.45

In [7]:
apple

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
<function to_datetime at 0x00000220A1E73B00>,96.27,96.80,93.92,95.35,65130000,95.35
<function to_datetime at 0x00000220A1E73B00>,94.14,95.99,94.10,95.97,56305400,95.97
<function to_datetime at 0x00000220A1E73B00>,93.67,94.10,93.20,94.03,22891800,94.03
<function to_datetime at 0x00000220A1E73B00>,93.87,94.06,93.09,93.48,28420900,93.48
<function to_datetime at 0x00000220A1E73B00>,93.52,94.07,93.13,93.52,38170200,93.52
...,...,...,...,...,...,...
<function to_datetime at 0x00000220A1E73B00>,26.63,26.75,26.63,26.63,18362400,0.41
<function to_datetime at 0x00000220A1E73B00>,25.87,26.00,25.87,25.87,21610400,0.40
<function to_datetime at 0x00000220A1E73B00>,25.37,25.37,25.25,25.25,26432000,0.39
<function to_datetime at 0x00000220A1E73B00>,27.38,27.38,27.25,27.25,43971200,0.42
<function to_datetime at 0x00000220A1E73B00>,28.75,28.87,28.75,28.75,117258400,0.45

### Step 7.  Is there any duplicate dates?

In [8]:
apple.index.is_unique

False

### Step 8.  Ops...it seems the index is from the most recent date. Make the first entry the oldest date.

In [9]:
apple.sort_values('Date',ascending=True)

TypeError: '<' not supported between instances of 'function' and 'function'

### Step 9. Get the last business day of each month

In [ ]:
apple.resample('BME')
apple

### Step 10.  What is the difference in days between the first day and the oldest

In [ ]:
(apple.index.max()-apple.index.min()).days

### Step 11.  How many months in the data we have?

In [ ]:
a=apple.resample("BME").Mean()
len(a)

### Step 12. Plot the 'Adj Close' value. Set the size of the figure to 13.5 x 9 inches

In [ ]:
pip install matplotlib

In [ ]:
pip install seaborn

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
a=apple['Adj close'].plot(title="Apple stock")
b=a.get_figure
b=set_size_inches(13.5,9)

KeyError: 'Adj close'

### BONUS: Create your own question and answer it.